/* .user-p{
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
}

.tabcontent img{
    width: 100px;
    border-radius: 70%;
}

.user-p h4{
    color: #ccc;
    padding: 5px 0;
}

.UserProfile-side_bar{
    width: 350px;
    background: #262931;
    min-height: 100vh;
    margin-left: 8%;
}

.Userprofile-body{
   display: flex; 
}

.user-p1{
    padding: 20px 0;
    color: #ccc;
    margin-left: 100px;
    margin-top: 5%;
}

.Userprofile-body1{
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}
 */
 .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  .tab img{
    width: 100px;
    border-radius: 70%;
}

  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  }