* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}


body {
  background: var(--color-bg) !important; 
  /* background-color: black; */
  background-color:  'linear-gradient(180deg, #345aa4 -28.35%, rgba(63, 0, 156, 0) 153.96%) !important'; 
  /* background-color: linear-gradient(180deg, #345aa4 -28.35%, rgba(63, 0, 156, 0) 153.96%) !important;  */
 }  

a {
  color: unset;
  text-decoration: none;
}

.gradient_text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_padding {
  padding: 4rem 6rem;
}

.section_margin {
  padding: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section_padding {
    padding: 4rem;
  }

  .section_margin {
    margin: 4rem;
  }

}

@media screen and (max-width: 550px) {
  .section_padding {
    padding: 4rem 2rem;
  }

  .section_margin {
    margin: 4rem 2rem;
  }

}












/*-----------------card slider---------------*/





/*------------------event and workshop---------------------*/



/*--------slider---------*/
/* 
.wrapper {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: sans-serif;
  color: #fff;
}

.carousel {
  width: 90%;
  margin: 0px auto;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev,
.slick-next {
  background: #000;
  border-radius: 15px;
  border-color: transparent;
}

.card {
  border: 2px solid #fff;
  box-shadow: 1px 1px 15px #ccc;
}

.card-body {
  background: #fff;
  width: 100%;
  vertical-align: top;
}

.card-content {
  text-align: left;
  color: #333;
  padding: 15px;
}

.card-text {
  font-size: 14px;
  font-weight: 300;
}











.modal {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content { */
/* background-color: #fefefe; */
/* margin: auto;
  padding: 20px; */
/* border: 1px solid #888; */
/* width: 80%;
  max-width: 1170px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 */

/*----------Register Form-----------*/
/* 
.formBody {
  background: #92bde7;
  color: #485e74;
  line-height: 1.6;
  font-family: 'Segoe UI', serif;
  padding: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;

}

.brand {
  text-align: center;

}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
  padding: 1em;
}

.company-info {
  background: #69a6ff;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;

}

.company-info ul li i {
  margin-right: 10px;
}

.contact {
  background: #af9fef;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: teal;
  color: #fff;
  outline: 0;
  transition: all 0.5s ease-out;
}

@media(min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper>* {
    padding: 2em;
  }
} */

/*---------email verify------------*/
/* /* 
.heroEmailVerification {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.input-email {
  width: 90%;
  max-width: 600px;
  position: relative;
}

#email-field {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #555;
  background: transparent;
  outline: none;
  font-size: 26px;
  padding: 5px 2px;
  position: relative;
  z-index: 10;
}

#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
} */
/* 
.emailVerifyForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

} */

/*--------------------registerLOgin form--------------*/