
/*--------------------footer------------------*/

.footer_Container {
    border-top-left-radius: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    position: fixed;
  
  }
  
  footer {
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    padding: 100px 0 30px;
    /* max-width: 1800px; */
    background: radial-gradient(circle at 13% 19%, rgba(1, 18, 105, 1) 0%, rgba(4, 12, 24, 0.94) 66%);
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 5; */
    /* position: fixed; */
  }
  
  .footer_row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .footer_col {
    flex-basis: 25%;
    padding: 10px;
  
  }
  
  .footer_col:nth-child(2),
  .footer_col:nth-child(3) {
    flex-basis: 15%;
  }
  
  .dgx_logo {
    width: 350px;
    height: 150px;
    /* margin-bottom: 30px; */
  }
  
  .footerDGXLogo {
    align-items: flex-start;
    justify-content: start;
    display: flex;
  }
  
  .footer_col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: white;
    font-weight: 30px;
  }
  
  .footer_col ul {
    padding-left: 0px;
  }
  
  ul li {
    color: white;
    font-weight: 15px;
    padding-bottom: 10px;
  }
  
  button img .btn_img {
    height: 17px;
    width: 20px;
    font-size: 18px;
    margin-right: 10px;
  
  }
  
  .newsletterForm {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  
  .newsletterForm img {
    height: 30px;
    width: 30px;
  }
  
  .newsletterForm input {
    width: 100%;
    background-color: transparent;
    color: #fff9f9;
    border: 0;
    outline: none;
  }
  
  .newsletterForm button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  .social-icons img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: transparent;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .copyright {
    text-align: center;
  }
  
  .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
  }
  
  .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
    overflow: hidden;
  }
  
  @keyframes moving {
    0% {
      left: -10px;
    }
  
    100% {
      left: 100%;
    }
  }
  
  @media(max-width: 700px) {
    footer {
      bottom: unset;
    }
  
    .footer_col {
      flex-basis: 100%;
    }
  
    .footer_col:nth-child(2),
    .footer_col:nth-child(3) {
      flex-basis: 100%;
    }
  }
  